designs/pages/Home.json
[
    {
        "id": "sd_ciYjPvotH0cbUFHN",
        "type": "tab",
        "createdDate": "2022-06-20T20:39:43.004Z",
        "label": "Home",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_whlhJ8hbcrcowbly",
        "type": "OnInit",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [
            {
                "key": "select_plan",
                "defaultValue": {
                    "type": "any",
                    "value": "[      { \"icon\": \"wc\",    \"paragraph\": \"I need to protect my income or family\" },   { \"icon\": \"local_hospital\",    \"paragraph\": \"Accidental Insurance\" },   { \"icon\": \"account_balance_wallet\",    \"paragraph\": \"I need to protect my business\" }   ]"
                }
            }
        ],
        "outputVariables": [],
        "functionName": "sd_whlhJ8hbcrcowbly",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_DkSzWRF4yV8tbwrR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_DkSzWRF4yV8tbwrR",
        "type": "PageVariables",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "select_plan",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[      { \"icon\": \"wc\",    \"paragraph\": \"I need to protect my income or family\" },   { \"icon\": \"local_hospital\",    \"paragraph\": \"Accidental Insurance\" },   { \"icon\": \"account_balance_wallet\",    \"paragraph\": \"I need to protect my business\" }  ]"
                }
            },
            {
                "textIp": "stage",
                "typedIpValue": {
                    "type": "str",
                    "value": "type_of_insurance"
                }
            },
            {
                "textIp": "stage1",
                "typedIpValue": {
                    "type": "str",
                    "value": "date_of_birth"
                }
            },
            {
                "textIp": "stage2",
                "typedIpValue": {
                    "type": "str",
                    "value": "select_Plan"
                }
            }
        ],
        "functionName": "sd_DkSzWRF4yV8tbwrR",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_N8ylmqksrlYeBKPH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_R968JyX64NGK3xjU",
        "type": "PageSwitch",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "stage",
        "propertyType": "this.page",
        "propertyGv": "this.page.stage",
        "rules": [
            {
                "t": "eq",
                "v": "type_of_insurance",
                "vt": "str",
                "gv": "\"type_of_insurance\""
            },
            {
                "t": "eq",
                "v": "select_Plan",
                "vt": "str",
                "gv": "\"select_Plan\""
            },
            {
                "t": "eq",
                "v": "date_of_birth",
                "vt": "str",
                "gv": "\"date_of_birth\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_R968JyX64NGK3xjU",
        "category": "Function",
        "x": 245,
        "y": 360,
        "wires": [
            [
                "sd_l6pWPShPA29WZgh5"
            ],
            [
                "sd_U9MkiYOZAL3DFJ50"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_lNbjJFvTeVgzTPOv",
        "type": "PageStart",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "pages",
        "nodeType": "start",
        "name": "move_to_next",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "move_to_next",
        "category": "General",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "sd_R968JyX64NGK3xjU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "HomeComponent"
    },
    {
        "id": "sd_N8ylmqksrlYeBKPH",
        "type": "Script",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.protection_plan = [\n  \n  { \"icon\": \"wc\",\n   \"paragraph\": \"I need to protect my income or family\" },\n  { \"icon\": \"I need health insurance\",\n   \"paragraph\": \"Accidental Insurance\" },\n  { \"icon\": \"group_add\",\n   \"paragraph\": \"I need to protect my business\" },\n  \n]\n\n// \n// page.select_plan = [\n//   { \"icon\": \"accessible\", \"paragraph\": \"Disability Insurance\" },\n//   { \"icon\": \"airport_shuttle\", \"paragraph\": \"Accidental Insurance\" },\n//   { \"icon\": \"group_add\", \"paragraph\": \"Life Insurance\" },\n//   { \"icon\": \"grain\", \"paragraph\": \"Discount Plans\" }\n  \n// ]\n",
        "functionName": "sd_N8ylmqksrlYeBKPH",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_boDaZrtWwNVQOUHA",
        "type": "Script",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.select_plan = [\n  { \"icon\": \"accessible\", \"paragraph\": \"Disability Insurance\" },\n  { \"icon\": \"airport_shuttle\", \"paragraph\": \"Accidental Insurance\" },\n  { \"icon\": \"group_add\", \"paragraph\": \"Life Insurance\" },\n  { \"icon\": \"grain\", \"paragraph\": \"Discount Plans\" }\n  \n]\n",
        "functionName": "sd_boDaZrtWwNVQOUHA",
        "category": "Function",
        "x": 505,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_l6pWPShPA29WZgh5",
        "type": "PageVariables",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "select_plan",
                "typedIpValue": {
                    "type": "literal",
                    "value": ""
                }
            }
        ],
        "functionName": "sd_l6pWPShPA29WZgh5",
        "category": "Function",
        "x": 365,
        "y": 320,
        "wires": [
            [
                "sd_boDaZrtWwNVQOUHA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_unERiZFjSkVMYgUg",
        "type": "Script",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "router.navigate(['/home/date_of_birth']);  // define your component where you want to go\n    ",
        "functionName": "sd_unERiZFjSkVMYgUg",
        "category": "Function",
        "x": 465,
        "y": 440,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true
    },
    {
        "id": "sd_U9MkiYOZAL3DFJ50",
        "type": "Navigation",
        "z": "sd_ciYjPvotH0cbUFHN",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/Home/date_of_birth",
        "functionName": "sd_U9MkiYOZAL3DFJ50",
        "category": "Navigation",
        "x": 345,
        "y": 460,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
